@font-face {
    font-family: emulogic;
    src: url("../fonts/emulogic.ttf");
}

#gameScreen{
    font-family: emulogic;
    font-size: 14px;
    width: 1152px;
    height: 768px;
    background-color: black;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}